{% extends "base.html" %} {% block title %} Categories {% endblock %} {% block
custom_css %}
<link
  href="{{ url_for('static', filename='styles/categories.css') }}"
  rel="stylesheet"
/>
{% endblock %} {% block content %}

<main role="main" class="container">
  <div class="starter-template">
    <form method="GET" action="/categories" class="mb-2">
      <div class="row">
        <div class="col-md-3">
          <h1>Categories</h1>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="start-month">Start Month</label>
            <input
              type="month"
              id="start-month"
              name="start-month"
              class="form-control"
              {%
              if
              start_month
              %}value="{{ start_month }}"
              {%
              endif
              %}
            />
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="end-month">End Month</label>
            <input
              type="month"
              id="end-month"
              name="end-month"
              class="form-control"
              {%
              if
              end_month
              %}value="{{ end_month }}"
              {%
              endif
              %}
            />
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <button type="submit" class="btn btn-primary mt-4">Submit</button>
          </div>
        </div>
      </div>
    </form>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Category</th>
            {% for month in months %}
            <th scope="col">{{ month }}</th>
            {% endfor %}
            <th scope="col">Average</th>
          </tr>
        </thead>
        <tbody>
          {% for category, sums in category_sums.items() %}
          <tr>
            <td>{{ category }}</td>
            {% for month in months %}
            <td
              class="{{ 'text-success' if sums.get(month, 0) > 0 else 'text-danger' if sums.get(month, 0) < 0 else 'text-muted' }}"
            >
              {{ '€{:.2f}'.format(sums.get(month, 0)) }}
            </td>
            {% endfor %}
            <td
              class="fw-bold {{ 'text-success' if category_avg_sums.get(category, 0) > 0 else 'text-danger' if category_avg_sums.get(category, 0) < 0 else '' }}"
            >
              {{ '€{:.2f}'.format(category_avg_sums.get(category, 0)) }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</main>
{% endblock %}
